body{
    height: auto;
    background-color: #f2f2f2;
}

#wrap{
        background-color: var(--color-wh);
        padding: 0 calc((100% - 1200px)/2);
        padding-top: 40px;
        height: auto;
}

/* 상단(제목/버튼) */
.mainTop {
    position: relative;
    margin-top: 60px;
    background-color: #FFF8E9;
    width: 100%;
    height: 230px;
}

.mainTop .mainTitle{
    width:30%;
    position: absolute;
    top:60px;
    left: 30px;
}

/* New Post 버튼 */
.mainTop .postBtn {
    position: absolute;
    top:160px;
    right:30px;
    width: fit-content;
    padding: 10px 25px;
    background: #f2CB05;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    
    cursor: pointer;
    
}

.mainTop .postBtn:hover {
    background: #F2E205;
}

/* ============================================= */


/* Sns 컨테이너 레이아웃 */
.snsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 30px;
    width: 500px;
    height: 1000px;
    border-style: dashed 1px;
}


.snsContainer .card-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.snsContainer .card-wrapper .card {
    /* border-radius: 20px; */
    overflow: hidden;
    transition: 0.5s;
    flex-direction: column;
    font-size: 16px;
    position: relative;
}



/* 상단(계정, 시간) */
.snsContainer .card-wrapper .card .cardTop {
    height:50px;
    background-color: #fff;
    position: relative;
}


.snsContainer .card-wrapper .card .cardTop .account-wrapper{
    position: absolute;
    top:60px;
    left:10px;
    margin-top:-50px;
}
.snsContainer .card-wrapper .card .cardTop .account-wrapper h3{
    
    font-size: 23px;
    font-weight: 500;
    color:#333;
}

.snsContainer .card-wrapper .card .cardTop .time-view-wrapper{
    position:absolute;
    right:0px;
    align-items: center;
    padding: 5px 10px;
}


/* 작성시간 */
.snsContainer .card .cardTop .time-view-wrapper i {
    margin-right: 4px;
}

.snsContainer .card .cardTop .time-view-wrapper>div {
    width: fit-content;
    border-radius: 10px;
    background: #fff;
    margin: 10px 0;
}


/* ============================================= */

.snsContainer .card-wrapper .card .cardContent{
    /* background-color: green; */
    width:100%;
    background-color: #ffffff;
}

/* 이미지 */
.snsContainer .card-wrapper .card .cardContent .cardImg-wrapper{
    width:500px;
    height: 500px;
    overflow: hidden;
    object-position: center;
}
.snsContainer .card-wrapper .card .cardContent .cardImg-wrapper img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* 좋아요 버튼 */
.snsContainer .card-wrapper .card .cardContent .likeBtn-wrapper{
    height:30px;
    /* background-color: #F2E205; */
    position:relative;
}
.snsContainer .card-wrapper .card .cardContent .likeBtn-wrapper .fa-heart{
    width: 25px;
    position: absolute;
    right: 30px;
}



/* .snsContainer .card-wrapper .card .cardContent .likeBtn-wrapper .like-btn .fa-heart{
    position:absolute;
    right:5px;
    width:30%;
} */


/* 콘텐츠 내용 */
.snsContainer .card-wrapper .card .cardContent .content {
    /* background-color: #d83f3f; */
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;
    padding: 20px 20px 40px 20px;
}




#card-down.card-wrapper {
    transform: translateY(15px);
}
#card-down .card {
    box-shadow: none;
}

.snsContainer .card-hover.card {
    outline: 2px solid rgb(191, 191, 191);
}




/* 버튼 */
.snsContainer .card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.snsContainer .card-btn .del-btn {
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f2cb05;
    opacity: 0;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}


/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 15px;
}


.modal-buttons button {
    padding: 5px 15px;
    font-size: 20px;
}

.modal-buttons .confirm {
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}

.modal-buttons .cancel {
    color: #f5f5f5;
    background-color: #dd1111;
    border-radius: 4px;
}


