
.wrap{
        background-color: var(--color-wh);
        padding: 0 calc((100% - 1200px)/2);
        align-items: flex-end;
        padding-top: 180px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 30px;
}


.main-title-wrapper {
    position: relative;
    margin: 100px;
}

.main-title-wrapper h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;

}

.main-title-wrapper .add-btn {
    width: fit-content;
    padding: 10px 25px;
    background: #f2CB05;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 120px;
    top: 0;
    cursor: pointer;
    z-index: 100;
}

/* 버튼 등록하기 */
.main-title-wrapper .add-btn:hover {
    background: #F2E205;


/* 게시물 */
.card-container .card-wrapper {
    position: relative;
    width: 100%;
    /* margin-bottom: 0px; */
    cursor: pointer;
    transition: 0.5s;
}

.card-container .card {
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    border: 2px solid transparent;
    flex-direction: column;
}

.card-container .card .card-info {
    color: #333;
}

/* sns Account */

.card-container .card-wrapper .card-info .card-title {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-container .card .card-info .time-view-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.card-container .card .card-info .time-view-wrapper>div {
    width: fit-content;
    border-radius: 10px;
    background: #fff;
    padding: 3px 5px;
    margin-bottom: 10px;
}

/* 이미지(정사각형 모양으로) -- 🥲*/
.card .card-content .card-boardImg{
    width:300px;
    overflow: hidden;
    z-index: 199;
    background-color:aqua;
}

/* 작성시간 */
.card-container .card .card-info .time-view-wrapper i {
    margin-right: 4px;
}

/* 콘텐츠 내용 */
.card-container .card .card-content {
    background-color: #fff;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.4;
    padding: 30px;
}




#card-down.card-wrapper {
    transform: translateY(15px);
}
#card-down .card {
    box-shadow: none;
}

.card-container .card-hover.card {
    border: 2px solid;
}




/* 버튼 */
/* .card-container .card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.card-container .card-btn .del-btn {
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f2cb05;
    opacity: 0;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
} */


/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 15px;
}


.modal-buttons button {
    padding: 5px 15px;
    font-size: 20px;
}

.modal-buttons .confirm {
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}

.modal-buttons .cancel {
    color: #f5f5f5;
    background-color: #dd1111;
    border-radius: 4px;
}



/* 페이지 스타일 */
/* pagination style */
.bottom-section {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}


.pagination-custom a {
    color: #444 !important;
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
}}