#wrap {
    width: 1240px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

.card-wrapper {
    /*width: calc(33.333% - 20px);*/
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.main-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 1200px;
}

.main-title-wrapper .mainTitle{
    position: relative;
    background-color: #fff8e9;
    width: 100%;
}



/* .homeBtn{
    font-size: 1.5em;
    background: none;
    font-weight: 600;
} */
/*
.main-title {
    font-size: 2em;
    color: #333;
} */

.add-btn {
    position: absolute;
    left: 1090px;
    top:253px;
    padding: 10px 20px;
    background-color: #f2cb05;
    color: #0d0d0d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    z-index: 100;
}

body {
    background-color: #fff;
}

button {
    outline: none;
    border: none;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 1200px;

}

.container{
    height: 450px;
    width: 380px;
    background: #f2f2f2;
    padding: 20px 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.container.active{
    background-color: #f2CB05;
}

.container::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
    background: #f2CB05;
}

.container.active:after{
    background-color: #f2f2f2;
}

.top-section{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.top-section1{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 1200px;
    margin-bottom: 30px;
}
.top-section1 .empty{
    font-size: 18px;
    padding: 60px 0;
    text-align: center;
}

.form-select{
    font-size: 16px;
    width: 105px;
    height: 50px;
    border: none;
    border-radius: 500px;
    padding: 0 20px;
    background: #f2f2f2 none;
    margin-right: 10px;
    cursor: pointer;
}

.form-control{
    font-size: 16px;
    width: 256px;
    height: 50px;
    background: #f2f2f2 none;
    border: none;
    border-radius: 500px;
    margin-right: 10px;
    text-indent: 20px;
}


.top-section1 i{
    font-size: 22px;
    cursor: pointer;
}

.container.active .top-section{
    color: #f2f2f2;
}

.middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}

.view {
    position: absolute;
    top: 80px;
    right: 35px;
    color: #222;
}

.container.active .view {
    color: #f2f2f2;
}

.container img {
    height: 130px;
    width: 130px;
    background: #555;
    border-radius: 50%;
    /*border: 5px solid #000;*/
    margin: 10px 0;
}

.container.active h2{
    color: #f2f2f2;
}

.container p {
    color: #777;
}

.container.active p{
    color: #f2f2f2;
}

.social-media i {
    font-size: 25px;
    cursor: pointer;
    color: #777;
    margin: 10px 5px;
}

.container.active .social-media i{
    color: #f2f2f2;
}

.btnCenter{
    text-align: center;
}

.btn-primary{
    display :inline-block;
    height: 50px;
    width: 50px;
    background-color: var(--color-bk);
    border-radius: 50px;
    color: #f2f2f2;
    font-weight: 500;
    box-shadow: 0 1px 15px #33333330;
    border: none;
    outline: none;
    /* margin: 10px 0; */
    z-index: 1;
    cursor: pointer;
    scale: .95;
    transition: .5s ease;
}

.btn {
    position: relative;
    top: -20px;
    display : inline-block;
    height: 46px;
    width: 120px;
    background-color: #222222;
    border-radius: 50px;
    color: #f2f2f2;
    font-weight: 500;
    box-shadow: 0 5px 5px rgba(0,0,0, .2);
    border: none;
    outline: none;
    margin: 10px 0;
    z-index: 1;
    cursor: pointer;
    scale: .95;
    transition: .5s ease;
    font-size: 16px;
}

.bx {
    padding: 10px;
}

.fa-times {
    padding: 10px;
}

.btn:hover {
    scale: 1;
}

.container.active .btn{
    background: #f2f2f2;
    color: #222;
}

.del-btn {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.2em;
}

.container.active .del-btn{
    color: #f2f2f2;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.modal-content {
    position: relative;
    background-color: #f2f2f2;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-buttons button {
    padding: 5px 15px;
    font-size: 20px;
}

.modal-buttons .confirm {
    color: black;
    border-radius: 4px;
}

.modal-buttons .cancel {
    color: black;
    border-radius: 4px;
}

.loginModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.loginModal-content {
    position: relative;
    background-color: #f2f2f2;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.loginModal-content {
    position: relative;
    background-color: #f2f2f2;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.loginModal-content p {
    font-size: 24px;
    margin-bottom: 15px;
}

.loginModal-buttons button {
    padding: 5px 15px;
    font-size: 20px;
}

.loginModal-buttons .confirm {
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}

.loginModal-buttons .cancel {
    color: #f5f5f5;
    background-color: #dd1111;
    border-radius: 4px;
}


/* 페이지 스타일 */
.bottom-section {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-custom a {
    color: #444 !important;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 10px;
    background: #f1f1f1;
    border-radius: 10px;
    font-size: 2em;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination-custom a:hover {
    background: #ddd !important;
    transform: scale(1.1);
}

.pagination-custom li.active a,
.pagination-custom li a:focus {
    background: #333 !important;
    color: #f2f2f2 !important;
    transform: scale(1.1);
}




.fa-solid{
    position: relative;
    top: -1px;
}
.view-count {
    font-size: 18px;
    font-weight: 500;
}

.competition{
    position: relative;
    left: -275px;
    top: 60px;
    color: red;
    font-size: 18px;
}

.notCompetition {
    position: relative;
    left: -295px;
    top: 60px;
    color: gray;
}

.del-fa {
    position: absolute;
    right: 30px;
    top: 20px;
}