body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 기준으로 전체 페이지 높이 설정 */
    margin: 0;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 1200px;
    height: 100vh; /* 컨테이너 높이도 뷰포트 높이에 맞춤 */
    background-color: #fff;
    padding: 120px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* 내용이 많아지면 스크롤바가 생기도록 설정 */
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 50px;
}

.header h1 {
    font-size: 30px;
    color: #333;
    font-weight: 700;
}

.writer {
    font-size: 20px;
    color: #666;
    font-weight: 600;
    position: relative;
    top: 60px;
}

.image-section img {
    max-width: 600px;
    max-height: 400px;
    width: auto; /* 가로 세로 비율 유지 */
    height: auto; /* 가로 세로 비율 유지 */
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.content-section{
    padding: 50px;
}

.content-section p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    flex-grow: 1; /* 내용 섹션을 유연하게 늘려서 남는 공간 채움 */
}

.buttons {
    text-align: right;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    width: 120px;
    height: 50px;
    background-color: #f2CB05;
    color: white;
    border: none;
    border-radius: 500px;
    cursor: pointer;
}

button:hover {
    background-color: #e0b304;
}

/* 반응형 디자인 적용 */
@media (max-width: 1200px) {
    .form-container, .image-section img {
        width: 100%;
    }
}


.admin-btn{
    position: absolute;
    top: 50px;
    right: 280px;
    width: 150px;
}