
#wrap {
    max-width: 1200px;
    width: 1200px;
    margin: 150px auto;
    background-color: #f2f2f2;
    padding: 120px 40px 40px 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.form-container h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #f2CB05;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: auto;
}

.form-container button {
    cursor: pointer;
    padding: 12px 30px;
    font-size: 16px;
    color: var(--color-bk);
    border-radius: 5px;
    border: none;
    transition: background-color 0.2s;
    border-radius: 500px;
    flex-grow: 1;
    margin-right: 10px;
    font-weight: 600;

    border:solid 1px var(--color-bk);
}

.form-container button:last-child {
    margin-right: 0;
    background-color: var(--color-bk);
    color: #fff;
}

.form-container button:hover {
    /* background-color: #dcb204; */
    background-color: var(--color-bk);
    color: #fff;
}



/* 프로필 섹션 스타일링 */
.profile {
    margin-bottom: 50px;
    text-align: center;
}

.profile label {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.profile .thumbnail-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    cursor: pointer;
    background-color: #fff;
}

.profile .thumbnail-box img {
    width: 100%;
    height: 100%;
    overflow: clip;
}

/* 체크박스 스타일링 */
.checkbox-container {
    margin: 30px 0;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.checkbox-container input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #f2CB05;
    border-color: #f2CB05;
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container label {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: 5px;
}
