/* 마이페이지 공통 */
.myPage_wrap{
  display: flex;
  padding: 100px calc((100% - 1200px)/2);
}
.myPage_wrap h1{
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;

}

.myPage_nav .menu-wrap {
  padding: 24px 0;
  position: relative;
}
.myPage_nav .menu-wrap::after{
  content: '';
  display: inline-block;
  width: calc(100% - 20px);
  height: 1px;
  background-color: var(--color-wh);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.myPage_nav .menu-wrap:last-child{
  margin-bottom: 0;
}
.myPage_nav{
  width: 300px;
  border-right: solid 1px var(--color-wh);
  padding: 40px 0;
  padding-right: 80px;
}
.myPage_nav .menu-tit{
  font-size: 18px;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 500px;
  width: fit-content;
  width: 100%;
  text-align: center;
}
.myPage_nav  .menu-wrap.is-active .menu-tit{
  color: var(--color-bk);
  background-color: var(--color-point);
}
.myPage_nav .menu-list{
  margin-top: 32px;
  padding-bottom: 20px;
}
.myPage_nav .menu-list  li{
  margin-bottom: 22px;

}
.myPage_nav .menu-list li:last-child{
  margin-bottom: 0;
}
.myPage_nav .menu-list a{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.myPage_nav .menu-list a.is-active::before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--color-point);
  margin-right: 8px;
  border-radius: 50%;
}


.myPage_inner{
  width: calc(100% - 400px);
  padding-top: 68px;
  padding-left: 160px;
}
.myPage_inner h2{
  font-size: 16px;
  margin-bottom: 14px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.myPage_inner h2::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: var(--color-point);
  margin-right: 10px;
}
.myPage_inner h2.point{
  font-size: 18px;
  font-weight: 600;
}
.myPage_inner h2.point::before{
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.myPage_inner h2.point b{
  color: var(--color-exception);
  padding-left: 14px;
  padding-right: 4px;
  font-size: 24px;
}
.myPage_dep{
  padding-top: 80px;
}
input{
  padding: 0 20px;
}
input#confirmPwInput{
  width: 300px;
  height: 40px;
  background-color: var(--color-wh);
  border-radius: 500px;
  font-size: 16px;

}
button#confirmPwBtn,button#goHomeBtn{
  width: 100px;
  height: 40px;
  border-radius: 500px;
  background-color: var(--color-bk);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  
}
button#withdrawalBtn{
  margin-top: 40px;
}
button#goHomeBtn{
  background-color: var(--color-point);
  width: 140px;
  margin-top: 40px;
  color: var(--color-bk);
  font-weight: 600;
}
.falsy_pw{
  font-size: 14px;
  color: #e02323;
  padding-left: 10px;
  margin-top: 14px;
}

/* viewInformations */
.myPage_wrap .main_profile{
  margin-top: 64px;
}
.myPage_wrap .main_profile>div{
  margin-bottom: 28px;
}
.myPage_wrap .main_profile.modify>div{
  margin-bottom: 60px;
}
.myPage_wrap .main_profile>div.short_box{
  display: flex;
  align-items: center;
}
.myPage_wrap .main_profile>div.short_box h2{
  width: 80px;
  margin-bottom: 0;

}
.myPage_wrap .main_profile .input_wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.myPage_wrap .main_profile .input_wrap.password{
  width: fit-content;
  margin-bottom: 10px;
}
.myPage_wrap .main_profile .input_wrap.password input{
  margin-right: 10px;
}

.myPage_wrap .main_profile .input_wrap.password:last-child{
  margin-bottom: 0;
}
.myPage_wrap .main_profile button[type=submit]{
  width: 100px;
  height: 43px;
  border-radius: 500px;
  background-color: var(--color-bk);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.myPage_wrap .main_profile .input_box{
  position: relative;
  width: calc(100% - 110px);
}
.myPage_wrap .main_profile .input_box input{
  padding-right: 150px;
}
.myPage_wrap .main_profile .message-error{
  position: absolute;
  left: 20px;
  bottom: -22px;
}
.myPage_wrap .main_profile .text{
  font-size: 16px;
  padding-left: 30px;
  font-weight: 500;
  padding: 12px 23px;
  padding-right: 8px;
  background-color: var(--color-wh);
  border-radius: 500px;
  margin-left: 8px;
  width: calc(100% - 8px);
}
.myPage_wrap .main_profile .text::placeholder{
  color: #9c9c9c;
  font-weight: 400;
}
.myPage_wrap .main_profile .text.short{
  width: 280px;
  padding-right: 23px;
}
.myPage_wrap .main_profile .text.short.file{
  position: relative;
}
.myPage_wrap .main_profile .input_box.file input{
  width: 100%;
  font-size: 14px;
  padding: 0;
}
.myPage_wrap .main_profile select.text.phone_number{
  width: 140px;
  border: none;
  margin-left: 8px;

}
.myPage_wrap .main_profile select.text.phone_number:focus{
  outline: 1px solid var(--color-exception);
}
.myPage_wrap .main_profile .text.phone_number{
  width: calc((100% - 148px - 55px)/2);
  /* width: 140px; */
  margin-left: 0;
  /* margin-right: 10px; */
  padding-right: 8px;
}
.myPage_wrap .main_profile .bar{
  /* font-size: 18px; */
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: var(--color-bk);
  margin: 0 6px;
  transform: translateY(-4px);
}
.myPage_wrap .main_profile .text.phone_number:last-child{
  margin-right: 0;
}
.myPage_wrap .main_profile .text:disabled{
  color: #0d0d0d80;

}
.myPage_wrap .sub_profile{

  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 22px;
  border: solid 2px var(--color-wh);
  padding: 16px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

}
.myPage_wrap .sub_profile>div{
  width: 50%;
  border-radius: 22px;
  padding: 20px 40px;
  position: relative;
}
.myPage_wrap .sub_profile>div::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 50%;
  background-color: var(--color-wh);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}
.myPage_wrap .sub_profile>div:nth-child(2n)::after{
  display: none;
}

.myPage_wrap .sub_profile h2{
  width: fit-content;
  border-radius: 500px;
  padding: 0;
  padding: 7px 12px;
  font-size: 14px;
  background-color: var(--color-bk);
  font-weight: 500;
  color: var(--color-point);
}
.myPage_wrap .sub_profile h2::before{
  display: none;
}
.myPage_wrap .sub_profile .text{
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}
.message-error{
  font-size: 12px;
  color: #e02323;
}
.message-error b{
  font-weight: 400;

}
.message-error b.success{
color: var(--color-exception);

}

input::file-selector-button{
  width: 100px;
  height: 43px;
  border-radius: 500px;
  background-color: var(--color-bk);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  right: -110px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}


.temper_wrap{

  display: flex;
  align-items: center;

}

.temper_range{
  width: 280px;
  height: 4px;
  border-radius: 500px;
  background-color: var(--color-wh);
  position: relative;
  /* display: flex;
  align-items: center; */
}

.temper_range .temper{
  height: 100%;
  border-radius: 500px;
  background-color: var(--color-point);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  
}
.temper_wrap .temper_num{
  display: inline-block;
  padding-left: 10px;
  font-size: 16px;
font-weight: 500;
  color: var(--color-point);
  
}

.profile_image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-wh);
  margin: 0 auto;
  overflow: hidden;
  margin: 40px 0 24px;
}
.profile_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}