<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mainpage.mapper.ClubRankingMapper">

    <!-- 회원 가장 많은 동호회 -->
    <select id="mostMember" resultType="com.project.mainpage.entity.ClubRanking">
        SELECT *
        FROM clubs
        ORDER BY club_member_max DESC
    </select>

    <!-- 가장 최근에 생긴 동호회 -->
    <select id="recentClub" resultType="com.project.mainpage.entity.ClubRanking">
        SELECT *
        FROM clubs
        ORDER BY club_created_at DESC
    </select>

    <!-- 1년 동안 스케줄이 가장 많은 동호회 -->
    <select id="mostScheduled" resultType="com.project.mainpage.entity.ClubRanking">
        SELECT c.*
        FROM clubs c
        JOIN schedules s ON c.club_no = s.club_no
        WHERE s.schedule_date >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
        GROUP BY c.club_no
        ORDER BY COUNT(s.schedule_id) DESC
    </select>

</mapper>