<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--  카멜케이스와 스네이크케이스 자동 변환 설정  -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- SELECT 조회 결과를 담을 Entity 클래스 별칭 설정하기 -->
    <typeAliases>
        <typeAlias type="com.project.mainpage.entity.MainNoticeBoard" alias="notice"/>
        <typeAlias type="com.project.mainpage.entity.ClubRanking" alias="club-ranking"/>
        <typeAlias type="com.project.club.entity.Club" alias="club" />
        <typeAlias type="com.project.club.entity.UsersClubs" alias="userClub" />
        <typeAlias type="com.project.entity.Schedules" alias="schedules" />
        <typeAlias type="com.project.club.entity.ClubNoticeBoard" alias="clubNoticeBoard" />
        <typeAlias type="com.project.entity.Users" alias="users" />
    </typeAliases>

    <!-- SQL 을 적어놓은 ...Mapper.xml 파일들을 사용등록하는 영역 -->
    <mappers>
        <mapper resource="mappers/ClubMapper.xml" />
        <mapper resource="mappers/UsersClubsMapper.xml" />
        <mapper resource="mappers/schedules/schedules.xml" />
        <mapper resource="mappers/ClubNoticeBoardMapper.xml" />
        <mapper resource="mappers/myPageMappers/myPageMappers.xml" />
        <mapper resource="mappers/login/UsersMapper.xml" />
        <mapper resource="mappers/MainNoticeMapper.xml"/>
        <mapper resource="mappers/ClubRankingMapper.xml"/>
    </mappers>

</configuration>


