

/* styles.css */


body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 30px;
}

.schedule_title {
    font-size: 16px;
    font-weight: 700;
    color: #0d0d0d;
}

#schedule_title {
    margin-top: 10px;
    border-radius: 500px;
    width: 100%;
    height: 50px;
    background: white;
    font-size: 16px;
    background-color: var(--color-wh);
}

.schedule_at {
    font-size: 20px;
    font-weight: 700;
    color: #0d0d0d;
}

#schedule_at {
    margin-top: 15px;
    border-radius: 500px;
    width: 100%;
    height: 50px;
    background: var(--color-wh);

    font-size: 16px;
}

.participation_points {
    font-size: 16px;
    font-weight: 700;
    color: #0d0d0d;
}

#participation_points {
    margin-top: 15px;
    border-radius: 22px;
    width: 100%;
    height: 40px;
    background: var(--color-wh);
    font-size: 16px;
    padding-left: 10px;
}
.schedule_content {
    font-size: 16px;
    font-weight: 700;
    color: #0d0d0d;
}

#schedule_content {
    margin-top: 15px;
    border-radius: 22px;
    width: 100%;
    height: 100px;
    background: white;
    font-size: 16px;
    background-color: var(--color-wh);
    border: none;
}

#schedule-section {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

#participation_points:invalid {
    color: red;
}

#open_modal_btn {
    width: 140px;
    height: 50px;
    border-radius: 500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background: var(--color-point);
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    margin-right: 100px;
}

#open_modal_btn:active {
    transform: scale(0.9);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#add_schedule_button {
    display: block;
    width: 140px;
    height: 50px;
    margin: 20px auto 0;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    border-radius: 500px;
}

#register-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.register-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    background: #f2f2f2;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px 0;
}




#register-list-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.register-list-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 700px;
    height: 600px;
    border: 4px solid #f2cb05;
    background: #f2f2f2;
    flex-direction: column;
}

#no-schedule .no-schedule {
    font-size: 32px;
    font-weight: 700;
    color: #0d0d0d;
    padding-left: 270px;
}

#no-member {
    font-size: 32px;
    font-weight: 700;
    color: #0d0d0d;
}

.application-user-info {
    display: flex;
    width: 620px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

.register-list-btn button {
    width: 60px;
    height: 30px;
    margin: 10px;
    border-radius: 22px;
}

.accept-btn {
    border: none;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 16px;
    border-radius: 500px;
}

.refuse-btn {
    border: none;
    background: #0d0d0d;
    color: #fff;
    font-size: 16px;
}

.user-info span{
    display: inline-block;
    width: 150px;
    margin: 10px;
    font-size: 16px;
    color: #0d0d0d;
    text-align: left;
    font-weight: 700;
}


.register-modal-content h1 {
    font-size: 24px;
    padding: 10px;
    font-weight: 600;
}

.register-btn {
    margin-top: 30px;
    color: #0d0d0d;
}

.accept-btn {
    font-size: 16px;
    background: #f2cb05;
    width: 140px;
    height: 50px;
    border-radius: 500px;
    font-weight: 700;
    /*margin-right: 10px;*/
}

.refuse-btn {
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #0d0d0d;
    background-color: #fff;
    color: var(--color-bk);
    width: 140px;
    height: 50px;
    border-radius: 500px;
    margin-right: 10px;
}

.modal{
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    width: 700px;
    /*height: 600px;*/
    background: #fff;
    flex-direction: column;
    padding: 50px 30px 30px;
    border-radius: 30px;
}
.modal-content h1#title{
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.schedule_title, .schedule_content, .schedule_image, .schedule_at {
    margin-bottom: 20px;
}

.schedule_title label, .schedule_content label, .schedule_image label, .schedule_at label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

.schedule_title input, .schedule_content textarea, .schedule_at input {
    width: 100%;
    padding: 0 20px;
    border-radius: 4px;
}

#aaa {
    border: 1px solid black;
    position: relative;
}

#detail_btn {
    position: absolute;
    top: 0;
    right: 20px;
    border: 1px solid black;
}

#wrap {
    width: 80%;
    margin: 0 auto;
    padding: 20px;

}

.card-wrapper {
    /*width: calc(33.333% - 20px);*/
    position: relative;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 320px;
    transition: 0.3s;
}

.card-wrapper:hover {
    transform: scale(1.05);
}

.main-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-title {
    font-size: 2em;
    color: #333;
}

.add-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.add-btn
{
    background-color: #0056b3;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 1000px;
    gap: 20px;
}

/*body {*/
/*    background: rgba(0, 0, 0, .8);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/

.container{
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.schedule-mini-content {
    width: 100%;
    border-radius: 24px;
}

.schedule-mini-content h2 {
    border-radius: 500px;
    background: var(--color-wh);
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    padding: 14px 20px;
    width: calc(100% - 36px);
    margin: 20px 18px 0;


}

.schedule-mini-content .sContent {
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    border-bottom: 2px solid #f2f2f2;
    padding: 20px ;
    height: 100px;
    word-wrap: break-word;
    overflow: scroll;
    margin-bottom: 12px;
}
.schedule-mini-content .sContent::-webkit-scrollbar{
    display: none;
}
.schedule-mini-content .account {
    /*position:absolute;*/
    /*top: 53px;*/
    /*left: 0;*/
    color: #0d0d0d;

    font-size: 16px;
    font-weight: 500;
    width: 50%;
    float: left;
    padding: 0 0 0 20px!important;
    font-weight: 500;

}
.schedule-mini-content p:not(.schedule-mini-content .sContent){
    padding: 12px 20px 0px;
}
.schedule-mini-content p {
    width: 100%;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
.schedule-mini-content p i {
    margin-right: 10px;
}
.schedule-mini-content p span {
    font-weight: 500;
    font-size: 14px;
}


.top-section{
    display: flex;
    justify-content: space-between;
}

.top-section i{
    font-size: 25px;
    cursor: pointer;
}



.middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 40px;
}

.view {
    /*position: absolute;*/
    /*top:53px;*/
    /*right: 10px;*/
    color: #0d0d0d;

    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    text-align: right;
    padding-right: 25px;
    font-weight: 500;
    color: var(--color-point);
    font-size: 18px;
}
.view i{
    font-size: 18px;
    transform: translateY(1px);
}








.social-media i {
    font-size: 25px;
    cursor: pointer;
    color: #777;
    margin: 10px 5px;
}



.btnCenter{
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;

    padding:0 20px 20px;
    margin-top: 10px;
}

.btn {
    display :inline-block;
    height: 50px;
    /*width: 100px;*/
    font-size: 16px;
    /*background-color: #f2cb05;*/
    border: solid 1px var(--color-bk);
    border-radius: 50px;
    color: #0d0d0d;
    font-weight: 700;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    /*scale: .95;*/
    transition: .5s ease;
    width: calc((100% - 10px)/2);
    margin-right: 10px;
}
.btn:last-child{
    margin-right: 0;
    background-color: var(--color-point);
    border: none;
}
.btn:hover {
    scale: 1.05;
}



.del-btn {
    display: none;
    position: absolute;
    color: #0d0d0d;
    cursor: pointer;
    font-size: 20px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background: white;
    height: 30px;
    width: 30px;
}

.del-btn i {
    display: inline-block;
    font-size: 30px;
}





/*.modal-content {*/
/*    position: relative;*/
/*    background-color: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    text-align: center;*/
/*    height: 700px;*/
/*    width: 400px;*/
/*}*/

/*.modal-content p {*/
/*    font-size: 24px;*/
/*    margin-bottom: 15px;*/
/*}*/

.modal-buttons button {
    padding: 5px 15px;
    font-size: 20px;
}

.modal-buttons .confirm {
    color: black;
    border-radius: 4px;
}




.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-custom a {
    color: #444 !important;
    text-decoration: none;
    padding: 15px 20px; /* 크기를 더 크게 조정 */
    margin: 0 10px; /* 간격을 넓게 조정 */
    background: #f1f1f1;
    border-radius: 10px; /* 둥근 모서리 */
    font-size: 2em; /* 폰트 크기를 크게 조정 */
    transition: background-color 0.3s, transform 0.3s;
}

.pagination-custom a:hover {
    background: #ddd !important;
    transform: scale(1.1); /* 호버 시 크기 확대 */
}

.pagination-custom li.active a,
.pagination-custom li a:focus {
    background: #333 !important;
    color: #fff !important;
    transform: scale(1.1); /* 활성화된 상태에서 크기 확대 */
}





#wrap {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.page-item {
    width: 50px;
    height: 50px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d0d0d;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-size: 50px;
}


.page-item:hover {
    transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.page-item:hover:active {
    transform: scale(0.9);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}




.prev {
    transform: scaleX(-1);
    padding: 15px;
}

.next {
    padding: 15px;
}

.schedule-mini-content {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    font-size: 20px;
    color: #0d0d0d;
    flex-wrap: wrap;
}

.schedule-delete-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);

}

.delete-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 650px;
    height: 250px;
    border: 4px solid #f2cb05;
    background: #f2f2f2;
    flex-direction: column;
    font-size: 25px;
    border-radius: 22px;
}

.delete-modal-content .schedule-delete-btn {
    display: flex;
    justify-content: center;
    color: #0d0d0d;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
}

.delete-modal-content .schedule-delete-btn button {
    background: #f2cb05;
    width: 90px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

.delete-modal-content .schedule-delete-btn .not-delete-btn{
    background: #0d0d0d;
    color: #f2cb05;
}

#detail-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.detail-modal-content {
    display: flex;
    position: absolute;
    width: 700px;
    height: 550px;
    background: #f2f2f2;
    flex-direction: column;
    border-radius: 22px;
    padding: 20px;
}

.register-list button{
    width: 120px;
    height: 50px;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border-radius: 22px;
}

.participation_point {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #0d0d0d;
}

.out-schedule button {
    width: 120px;
    height: 50px;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border-radius: 22px;
}


.schedule_members {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 150px;
    bottom: 20px;
    border-radius: 22px;
}
.schedule_members button {
    font-size: 20px;
    font-weight: 700;
}

.detail-title {
    border-radius: 18px 18px 0 0;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 25px;
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 40px;
    border-radius: 500px;
}

.detail-account {
    position: absolute;
    top: 95px;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #0d0d0d;
}

.detail-content {
    width: 600px;
    height: 250px;
    color: #0d0d0d;
    border: 1px solid #f2cb05;
    border-radius: 22px;
    padding: 20px;
    word-wrap: break-word;
    margin: 15px auto;
}

.detail-a {
    padding-left: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 700;
}

.detail-created {
    position: absolute;
    top: 95px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #0d0d0d;
}

.schedule-member-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.schedule-member-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 700px;
    height: 600px;
    border: 4px solid #f2cb05;
    background: #f2f2f2;
    flex-direction: column;
}

.schedule-secession-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);

}

.secession-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 650px;
    height: 250px;
    border: 4px solid #f2cb05;
    background: #f2f2f2;
    flex-direction: column;
    font-size: 25px;
    border-radius: 22px;
}

.schedule-secession-btn {
    display: flex;
    justify-content: center;
    color: #0d0d0d;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
}

.schedule-secession-btn button {
    background: #f2cb05;
    width: 90px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

.schedule-secession-btn .cancel-btn{
    background: #0d0d0d;
    color: #f2cb05;
}

.member-list {
    display: flex;
    width: 620px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 22px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

.member-exile-btn button {
    width: 60px;
    height: 30px;
    margin: 10px;
    border-radius: 22px;
}

.exile-btn {
    border: none;
    background: #f2cb05;
    color: #0d0d0d;
    font-size: 16px;
}
.member-info span{
    display: inline-block;
    width: 150px;
    margin: 10px;
    font-size: 16px;
    color: #0d0d0d;
    text-align: left;
    font-weight: 700;
}

.card-wrapper:hover .del-btn{
    display: block;
}